<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>

    <!-- development -->
    <add name="DefaultConnection" connectionString="Server=localhost\sqlexpress;Database=Leon;Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- end development -->

    <!-- Production -->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5016.Smarterasp.net;Initial Catalog=DB_9FD8AA_appleon;User Id=DB_9FD8AA_appleon_admin;Password=Appleon2016" providerName="System.Data.SqlClient" />-->
    <!-- end production-->

    <!-- test server -->
    <!-- <add name="DefaultConnection" connectionString="Data Source=SQL5028.Smarterasp.net;Initial Catalog=DB_9FD8AA_testbeta;User Id=DB_9FD8AA_testbeta_admin;Password=testbeta2016" providerName="System.Data.SqlClient" />-->
    <!-- end test server -->

    <!-- test sean server -->
    <!-- <add name="DefaultConnection" connectionString="Data Source=SQL5028.Smarterasp.net;Initial Catalog=DB_9FD8AA_SeanTesting;User Id=DB_9FD8AA_SeanTesting_admin;Password=Sean2016" providerName="System.Data.SqlClient" />-->
    <!-- end test server -->

    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HoteleraAPI-20151204124636.mdf;Initial Catalog=aspnet-HoteleraAPI-20151204124636;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>