<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=localhost\sqlexpress;Database=Leon;Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="server" value="smtp.gmail.com"/>
    <add key="email" value="coach@goleon.com"/>
    <add key="password" value="Amu16zpxRrt"/>
    <add key="port" value="587"/>
    <add key="web" value="http://testgoleon.azurewebsites.net/TestClient"/>
    <add key="ios" value="http://testgoleon.azurewebsites.net"/>
  </appSettings>
</configuration>