
<form name="myFormAgencia">
    <fieldset>
        <div class="form-group">
            <h2>{{nombreuser}}</h2>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Name</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="text" name="nombre" class="form-control" data-ng-model="nombre" ng-disabled="status"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label control-label">Days</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="text" name="days" ng-model="days" ui-number-mask="2" class="form-control" ng-disabled="status">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label control-label">Points</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="text" name="cant" ng-model="cant" ui-number-mask="2" class="form-control" ng-disabled="status">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label control-label">Percentage%</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="text" name="avarage" ng-model="avarage" ui-number-mask="2" class="form-control" ng-disabled="status">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <text-angular name="htmlcontent" ng-model="htmlcontent" class="container app" ng-disabled="status">
                    </text-angular>
                </div>
            </div>
            


            <div class="col-md-8">
                <div class="form-group">
                    <button class="btn btn-success" ng-click="save()" ng-disabled="status" >Save</button>
                    <button class="btn btn-info" ng-click="back()">Back</button>
                </div>
            </div>

        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <div id="messages"></div>
            </div>
        </div>
    </fieldset>

    <div>
        <a id="openQuestion" href="#" data-toggle="modal" data-target="#dialogTipoAgenciaUpdate" style="visibility:hidden; width:0px; height:0px"></a>
    </div>
    <div class="modal fade" id="dialogTipoAgenciaUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-info" id="myModalLabel">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <label>{{messageQuestion}}</label>
                </div>
                <div class="modal-footer">
                    <div data-dialog-buttons>
                        <button class="btn" ng-click="savedata()" data-dismiss="modal"><i class='fa fa-times'></i>&nbsp; Si</button>
                        <button class="btn" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a id="idErrorMessage" href="#" data-toggle="modal" data-target="#dialogErrorMensaje" style="visibility:hidden; width:0px; height:0px"></a>
    </div>
    <div class="modal fade" id="dialogErrorMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <button id="botonCerrarCliente" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class='widget-header'><h4><i class='fa fa-warning'></i> Error</h4></div>
                    </div>
                    <p>
                        <h4>{{errorMessage}}</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>


</form>
