<div id="content" >

    <!--
<div class="row">
    <big-breadcrumbs items="['Forms', 'Bootstrap Form Validation']" icon="table"
                     class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
</div>
        -->

<!--
    The ID "widget-grid" will start to initialize all widgets below 
    You do not need to use widgets if you dont want to. Simply remove 
    the <section></section> and you can use wells or panels instead 
    -->

<!-- widget grid -->
<section id="widget-grid" widget-grid style="margin-top:50px;">

<!-- row -->
<div class="row">

<!-- NEW WIDGET ROW START -->
<div class="col-sm-6">

<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-id-0" data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false" >
    <!-- widget options:
    usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <h2> Assessments </h2>
    </header>

    <!-- widget div-->

    <div>
        

        <!-- widget content -->
        <div class="widget-body" >

            <mzt-leon-questions-user-form></mzt-leon-questions-user-form>
       </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->


</div>
<!-- WIDGET ROW END -->

</div>

<!-- end row -->

</section>
<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

</div>