<div id="content">

    <!--
    <div class="row">
        <big-breadcrumbs items="['Forms', 'Bootstrap Form Validation']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
            -->
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!---->
    <!-- widget grid -->
    <section id="widget-grid" widget-grid style="margin-top:50px;">

        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET ROW START -->
            <!--<div class="col-sm-10 col-md-8 col-lg-8" >-->
            <div id="idColumnQuestionForm" style="background-color:transparent">
                <mzt-leon-validic-points-form></mzt-leon-validic-points-form>
            </div>
            <!--</div>-->

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
