<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>

    <!-- development -->
    <add name="DefaultConnection" connectionString="Server=localhost\sqlexpress;Database=Leon;Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- end development -->
  </connectionStrings>
</configuration>