
<form name="myFormAgencia">
    <fieldset>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">Email</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="email" name="email" class="form-control" data-ng-model="email" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label control-label">New Password</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="password" name="password" ng-model="password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label control-label">Retype</label>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-lg-offset-1 ">
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" class="form-control"  placeholder="Confirm password">
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <button class="btn" ng-click="save()" ng-disabled="status" style="background-color: rgba(255,  162,  2,  1);color:white;">Save</button>
                    <button class="btn" ng-click="back()" style="background-color: rgba(255,  162,  2,  1);color:white;">Back</button>
                </div>
            </div>

        </div>
    </fieldset>
    
    <fieldset>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <div id="messages"></div>
            </div>
        </div>
    </fieldset>
        
    <div>
        <a id="openQuestion" href="#" data-toggle="modal" data-target="#dialogTipoAgenciaUpdate" style="visibility:hidden; width:0px; height:0px"></a>
    </div>
    <div class="modal fade" id="dialogTipoAgenciaUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-info" id="myModalLabel">Warning</h4>
                </div>
                <div class="modal-body">
                    <label>{{messageQuestion}}</label>
                </div>
                <div class="modal-footer">
                    <div data-dialog-buttons>
                        <button class="btn" ng-click="savedata()" data-dismiss="modal" style="background-color: rgba(255,  162,  2,  1);color:white;">Yes</button>
                        <button class="btn" data-dismiss="modal" style="background-color: rgba(255,  162,  2,  1);color:white;">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a id="idErrorMessage" href="#" data-toggle="modal" data-target="#dialogErrorMensaje" style="visibility:hidden; width:0px; height:0px"></a>
    </div>
    <div class="modal fade" id="dialogErrorMensaje" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <button id="botonCerrarCliente" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class='widget-header'><h4><i class='fa fa-warning'></i> Error</h4></div>
                    </div>
                    <p>
                        <h4>{{errorMessage}}</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>


</form>
